@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ABC3CD;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


input {
    width: 70%;
    outline: none;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

button {
    width: 30%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: #ABC3CD;
    color: white;
    cursor: pointer;
}

.res {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    gap: 10px;
}

h1 {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    border: 1px solid #eee;
    flex-wrap: wrap;
}
li{
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
#question,#result{
    word-break: break-all;
    color: #84A7BA;
    font-size: 14px;
}
@media screen and (max-width: 950px) {

    .container,
    .res {
        width: 75%;
    }
}

@media screen and (max-width: 650px) {

    .container,
    .res {
        width: 90%;
    }

    button,
    body {
        background-color: #84A7BA;
    }
}

@media screen and (max-width: 530px) {

    .container,
    .res {
        width: 95%;
    }

    .container {
        flex-direction: column;
    }

    input,
    button {
        width: 100%;
    }

}